<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <appSettings>
      <add key="Font" value="Arial" />
      <add key="FontSize" value="12" />
      <add key="FontStyle" value="Regular" />
      <add key="FontColour" value="E0FFFFFF" />
      <add key="LocationX" value="100" />
      <add key="LocationY" value="100" />
      <add key="Note" value="Desktop Notes:&#xD;&#xA;Add useful information here!" />
    </appSettings>
</configuration>
